<div class="model_delete">

    <h1 mat-dialog-title  class="f4_header">Pending Picking App 
        <mat-icon (click)="closeDialog()" >close</mat-icon></h1> 
  <div class="Modal_content">
    <div class="Modal_explanation">
      Are you sure you want to confirm ?
    </div>
  </div>
  <div class="Modal_delete_footer">
      <button mat-stroked-button color="warn" (click)="closeDialog()"  class="cancle_deelete_button">Cancel</button>
      <button  mat-stroked-button color="primary"(click)="closeDialog()" class="uppercase_button">Confrim</button>
  </div>
  </div>