<mat-toolbar color="primary">Pending Pickup</mat-toolbar>
<div class="superviser_wrapperdetails">
  <div class="superviser_cantiner" [formGroup]="f4AddForm" novalidate>
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="label_details">
          EWM WH NO :
        </div>
        <div class="label_details_text">
          <mat-form-field class="width100">
            <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
            <mat-chip-list #chipList1>
              <mat-chip color="primary" *ngFor="let user of  dialogdataReturn">{{user}}</mat-chip>
            </mat-chip-list>
            <input formControlName="w3data" [matChipInputFor]="chipList1">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="label_details">
          Storage Type :
        </div>
        <div class="label_details_text">
          <mat-form-field class="width100">
            <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
            <input  matInput formControlName="w3data" >
          </mat-form-field>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-6">
          <div class="label_details">
            Reservation No: </div>
          <div class="label_details_text">
            <mat-form-field class="width100">
              <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
              <input  matInput formControlName="w3data" >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="label_details">
            Storage Section:
          </div>
          <div class="label_details_text">
            <mat-form-field class="width100">
              <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
              <input  matInput formControlName="w3data" >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-6">
          <div class="label_details">
            Requirement Date :
          </div>
          <div class="label_details_text">
            <mat-form-field class="width100">
              <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
              <input  matInput formControlName="w3data" >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="label_details">
            Storage Bin :
          </div>
          <div class="label_details_text">
            <mat-form-field class="width100">
              <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
              <input  matInput formControlName="w3data" >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-6">
          <div class="label_details">
            Product :
          </div>
          <div class="label_details_text">
            <mat-form-field class="width100">
              <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
              <input  matInput formControlName="w3data" >
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="label_details">
            Category :
          </div>
          <div class="label_details_text">
            <mat-form-field class="width100">
              <mat-icon class="openf4data" (click)="f4dialog()">flip_to_back</mat-icon>
              <input  matInput formControlName="w3data" >
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="more_info_btn">
      <button mat-raised-button routerLink="/supervisermoreDetailsInfo" color="primary">Search</button>
    </div>

  </div>

  <div class="details_wrapper">
    <div class="table-responsive">
      <table class="table tabel_details_wrapper">
        <thead>
          <tr>
            <th>Source Stock No
            </th>
            <th>Shopfloor Stock Desc</th>
            <th>Requirement Date</th>
            <th> Matenal Desc.</th>
            <th> Stk Type</th>
            <th> Task No</th>
            <th>Str Section</th>
          </tr>
        </thead>
        <tbody>
          <tr routerLink="/picking_description">
            <td>CLS</td>
            <td>HVR</td>
            <td>CLS-H0001-01</td>
            <td>NEM-LOC</td>
            <td>1000000000101</td>
            <td>7</td>
            <td>
              <button mat-raised-button (click)="moreinfo($event)" color="primary">More Info</button></td>
          </tr>
          <tr routerLink="/picking_description">
            <td>CLS</td>
            <td>HVR</td>
            <td>CLS-H0001-01</td>
            <td>NEM-LOC</td>
            <td>1000000000101</td>
            <td>7</td>
            <td>
              <button mat-raised-button (click)="moreinfo($event)" color="primary">More Info</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>