
.back_icon{
    float: left;
}
.heaer_postion span{
    text-align: center;
}
.label_details{
  float: left;
  min-width: 123px;
  padding-top: 38px;
  font-size: 14px;
  font-family: sans-serif;
  }
  .label_details_text{
    float: left;
    padding-left: 5px;
    font-size: 14px;
    width: 379px;
    font-family: sans-serif;
    padding-top: 6px;
  }
  .details_wrapper{
    float: left;
    margin-top: 12px;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid;
  }
  .more_info_btn{
    float: right;
    margin-right: 60px;
  }
  .details_wrapper tr{
    cursor: pointer;
  }
  .tabel_details_wrapper thead{
    background: #4b31da14;
  }
  .openf4data{
    float: right;
    cursor: pointer;
  }
  .width100{
    width: 100%;
  }