<h1 mat-dialog-title class="f4_header">Pending Picking App
  <mat-icon (click)="close()">close</mat-icon>
</h1>
<div novalidate>
  <mat-dialog-content>

    <div class="input-group mb-3 searchDataBtn">
      <input [(ngModel)]="term" type="text" class="form-control" placeholder="search">
      <div class="input-group-append ">
        <!-- <button class="btn_serach" >  <mat-icon class="search_icon">search</mat-icon></button> -->
      </div>
    </div>

    <div class="f4_container">

      <div class="checkbox_data" *ngFor="let user of  data |filter:term">
        <mat-checkbox value="{{user.value}}" (change)="checkboxdata($event)"> {{user.value}}</mat-checkbox>
      </div>

    </div>
  </mat-dialog-content>

  <div class="bothbtn">
    <div class="Modal_delete_footer">
      <button mat-stroked-button color="primary" (click)="submit()" class="cancle_deelete_button">Ok</button>
    </div>
  </div>
</div>