<div class="superviserDialog">

    <h1 mat-dialog-title  class="f4_header">Pending Picking App 
        <mat-icon (click)="close()">close</mat-icon></h1> 
  <table class="table tabel_details_wrapper">
    <thead>
      <tr>
        <th>Materail add Document Item<br>
        stock</th>
        <th>Document No</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20020202<br>10</td>
        <td>20020202<br>10</td>
      </tr>
      <tr>
          <td>2209292</td>
          <td>2267272</td>
      
      </tr>
    </tbody>
  </table>
</div>