/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.superviserDialog  .mat-dialog-container{
    padding: 0px !important;
    margin: 0px  !important;
  }
  .heaer_postion{
    float: left;
    text-align: center;
    height: 56px;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 13px;
    color: white;
    width: 100%;
    background: #004692;
}

.model_delete {
  background-color: #fff;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
}

.Modal_header {
  color: #363636;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
  position: relative;
  text-align: left;
  background: #FFF;
  border-radius: 2px 2px 0 0;
  word-wrap: break-word;
}

.Modal_content {
  overflow-y: auto;
}

.back_icon{
  float: left;
  cursor: pointer;
}
.superviserDialog .mat-dialog-content{
   margin: 0px !important;
}
.back_icon i{
    padding: 2px !important;
    margin-left: 10px;
}


.Modal_explanation {
    margin: 10px;
}
.Modal_footer{
  float: right;
  padding: 14px;

}

.delete_btn{
  margin: 10px;
}

.f4_wrapper{
  float: left;
  width: 100%;
 }
 
 .f4_header{
     padding-left: 10px;
     padding-top: 10px;
     font-size: 18px;
     background: #dee2e685;
     padding-bottom: 10px;
 }
 
 .f4_container{
 
 }
 
 .checkbox_data{
     float: left;
     width: 100%;
     color: #495057c9;
     padding: 10px;
     font-size: 14px;
     cursor: pointer;
     box-shadow: 0px 1px 4px 0px #dee2e685;
 }
 
 .f4_header .mat-icon{
     float: right;
     padding-right: 39px;
     padding-top: 6px;
     font-size: 18px;
     cursor: pointer;
 }
 
 .search_icon{
     font-size: 19px;
     padding-top: 8px;
     line-height: 17px;
     cursor: pointer;
 }
 .btn_serach{
     border: none;
     outline: none;
 }
 
 .searchDataBtn{
     padding: 10px;
 }
 
 .bothbtn{
     float: right;
     padding: 14px;
 }
 input.mat-chip-input{
     margin: 0px !important;
 }

