<div class="heaer_postion">
    <span>Pending Picking </span>
    <div class="back_icon" (click)="goBack()">
        <i class="material-icons"> arrow_back</i>
    </div>
</div>

<div class="details_wrapper">
  <div class="table-responsive">
    <table class="table tabel_details_wrapper">
      <thead>
        <tr>
          <th>Typ</th>
          <th>Storage Bin</th>
          <th>Handling Unit</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Bun</th>
          <th>ST</th>
          <th>Batch</th>
          <th>Owner</th>
          <th>Ent.To Disp</th>
          <th>use</th>
          <th>Tpe</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CLS</td>
          <td>HVR</td>
          <td>CLS-H0001-01</td>
          <td>NEM-LOC</td>
          <td>1000000000101</td>
          <td>7</td>
          <td>CLS-H0001-01</td>
          <td>NEM-LOC</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>CLS</td>
          <td>HVR</td>
          <td>CLS-H0001-01</td>
          <td>NEM-LOC</td>
          <td>1000000000101</td>
          <td>7</td>
          <td>CLS-H0001-01</td>
          <td>NEM-LOC</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>